{% extends "tasks/base.html" %}

{% block title %}Add To-Do{% endblock %}

{% block content %}

<h2>Add New To-Do</h2>
<hr>

<form method="POST">
    {% csrf_token %}

    <label>Subject</label>
    <input type="text" name="subject" required>

    <br><br>

    <label>Notes</label>
    <textarea name="notes" rows="5" required></textarea>

    <br><br>

    <button type="submit" class="btn">Save</button>
</form>

<a href="{% url 'task_list' %}" class="back-link">← Back to List</a>

{% endblock %}
